header {
    margin-left: 20px;
    border-bottom: 1px solid black;
}

.inline {
    display: inline-block;
    line-height: 10px;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}