* {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: lightgray;
}

header {
    background-color: white;
}

.img {
    padding-top: 25px;
    margin-left: 25px;
}

.inline {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
}

main {
    background-color: white;
    margin: 10px 15% 5px;
    padding: 15px;
}

.button {
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin-left: 15px;
    height: 30px;
}

#task {
    background-color: rgb(0, 195, 255);
    border: none;
}

#addsec {
    background-color: white;
    border: 1px solid gray;
    color: grey;
}